[Unit]
Description=Leosac daemon
Documentation=http://www.github.com/islog/leosac/wiki
After=default.target

[Service]
Type=simple
ExecStart=/usr/bin/leosac -k /etc/leosac.d/kernel.xml
WorkingDirectory=/etc/leosac.d

[Install]
WantedBy=default.target
