language: cpp
sudo: required
dist: trusty
cache: ccache
git:
  submodules: false
services:
  - docker
addons:
  apt:
    packages:
    - binfmt-support
    - qemu
    - qemu-user-static
install:
  - update-binfmts --enable qemu-arm
env:
  matrix:
  - DOCKER_REPO=knnniggett/leosac:build-leosac-deb-amd64
  - DOCKER_REPO=knnniggett/leosac:build-leosac-deb-armhf
script:
  - mkdir -p $HOME/debian
  - docker run -e DEB_BUILD_OPTIONS="parallel=4" -v $HOME/debian:/tmp $DOCKER_REPO

