Source: leosac
Maintainer: Arnaud Kapp <kapp.arno@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9),
               asciidoc-base | asciidoc,
               cmake,
               libtclap-dev,
               libboost-regex-dev,
               libboost-serialization-dev,
               libboost-system-dev,
               libsodium-dev,
               libpython2.7-dev,
               libunwind-dev,
               g++ (>= 4.8)

Package: leosac
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: open source access control
